<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Umbraco.ModelsBuilder.Enable" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Umbraco.ModelsBuilder.EnableApi" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="umbracoDbDSN" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<trace enabled="false" localOnly="true" xdt:Transform="SetAttributes(enabled, localOnly)" />
		<customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
		<compilation debug="false" xdt:Transform="SetAttributes(debug)" />
	</system.web>
</configuration>