<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73690c1b-3fc2-4ecb-8ab9-24292175c615" Alias="compositionMetaPage" Level="2">
  <Info>
    <Name>Composition Meta Page</Name>
    <Icon>icon-chip color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>76a8c1e3-c5f8-41fd-adb7-d8997b67a734</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The meta description to be used for the current page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>7c4e7ab3-2155-4c79-897e-ad2bb4b35744</Key>
      <Name>Meta Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The meta keywords to be used for the current page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>353035dc-0071-4e81-954b-0696369eedf8</Key>
      <Name>Meta Title</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title to be used for the current page, in conjunction with the site title.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>5d89c462-990a-4c84-8a3a-4c98c92da45a</Key>
      <Name>Robots No Follow</Name>
      <Alias>robotsNoFollow</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When selected, search engines will be told not to follow links on the current page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>8f540438-5f54-43a9-9f61-aa36f764c47d</Key>
      <Name>Robots No Index</Name>
      <Alias>robotsNoIndex</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When selected, search engines will be told not to index the current page.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Meta</Caption>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>