<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72583721-2d3b-4b18-b86b-19fda9d6d90a" Alias="compositionSitemapPage" Level="2">
  <Info>
    <Name>Composition Sitemap Page</Name>
    <Icon>icon-chip color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce7b6060-c26d-4043-9849-aaabf3284268</Key>
      <Name>Sitemap Change Frequency</Name>
      <Alias>sitemapChangeFrequency</Alias>
      <Definition>aa96a1b3-167f-43fa-967d-55c67559edc9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Suggestion to search engines with regards to how often the content of the page will.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>00e234ef-0404-41aa-bf40-b4c64bfdd675</Key>
      <Name>Sitemap Priority</Name>
      <Alias>sitemapPriority</Alias>
      <Definition>9cbde516-b818-441a-b5ae-dfc22de81bab</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The priority of this page relative to other pages on your.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sitemap</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sitemap</Caption>
      <SortOrder>110</SortOrder>
    </Tab>
  </Tabs>
</ContentType>