<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ab9fbb1-7c13-4165-9cc1-8f2462f4bfbf" Alias="configurationSiteContentPage" Level="2">
  <Info>
    <Name>Configuration Site Content Page</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b9324873-9746-474b-9411-02a3e3b294bc</Key>
      <Name>Site Description</Name>
      <Alias>siteDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The description of the current site. Used on things such as the home page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>857ed51e-3092-4d77-96fa-fd07e2236560</Key>
      <Name>Site Theme</Name>
      <Alias>siteTheme</Alias>
      <Definition>7296fc0d-1601-43c2-8d02-da8a44afc554</Definition>
      <Type>CloudTransformer.ThemePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a theme that the current site will use to display.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>71567164-4732-49b8-91ef-29f967f093d0</Key>
      <Name>Site Title</Name>
      <Alias>siteTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the current site. Used on things such as the home page and browser title.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>