<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f8262c5e-065c-4f75-8610-5bea79859cab" Alias="configurationAnalyticsPage" Level="2">
  <Info>
    <Name>Configuration Analytics Page</Name>
    <Icon>icon-bar-chart color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d3a0153a-90ba-48e5-8d39-a257630da328</Key>
      <Name>Google Analytics</Name>
      <Alias>googleAnalytics</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Tracking Id to be used for Google Analytics. For example, UA-12345678-9.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>