<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd21de30-7780-4461-b889-5a6d8b0f6123" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="73690c1b-3fc2-4ecb-8ab9-24292175c615">compositionMetaPage</Composition>
      <Composition Key="72583721-2d3b-4b18-b86b-19fda9d6d90a">compositionSitemapPage</Composition>
      <Composition Key="4a50ef7e-e382-4a68-bad3-bf437ca7fe90">compositionUmbracoPage</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4d3c9e92-3543-439d-a408-2fe299b51b63">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>