<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfe0e063-1bee-43aa-9d9e-33606d40ce7f" Alias="languagePage" Level="2">
  <Info>
    <Name>Language Page</Name>
    <Icon>icon-globe-inverted-europe-africa color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Global</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="69cabb01-de42-4c5f-a504-3c0cabee2dbf" SortOrder="0">homePage</ContentType>
    <ContentType Key="9b6c0597-5b30-4dbd-af37-a0065f6735d5" SortOrder="1">configurationPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e5f36450-e390-4a2c-889f-4b17b3f8638b</Key>
      <Name>Language Name</Name>
      <Alias>languageName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Give the language a nice name instead of the Language Code used as the Page Name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Contents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Contents</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>