<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa96a1b3-167f-43fa-967d-55c67559edc9" Alias="Change Frequency" Level="1">
  <Info>
    <Name>Change Frequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Always"
    },
    {
      "id": 2,
      "value": "Hourly"
    },
    {
      "id": 3,
      "value": "Daily"
    },
    {
      "id": 4,
      "value": "Weekly"
    },
    {
      "id": 5,
      "value": "Monthly"
    },
    {
      "id": 6,
      "value": "Yearly"
    },
    {
      "id": 7,
      "value": "Never"
    }
  ]
}]]></Config>
</DataType>