<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cbde516-b818-441a-b5ae-dfc22de81bab" Alias="Priority" Level="1">
  <Info>
    <Name>Priority</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>