<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7296fc0d-1601-43c2-8d02-da8a44afc554" Alias="Theme Picker" Level="1">
  <Info>
    <Name>Theme Picker</Name>
    <EditorAlias>CloudTransformer.ThemePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>